input.colsearch {
    line-height: 18px !important;
    font-size: 12px !important;
    width: 100%;
}

.dataTables_wrapper .dataTables_paginate {
	padding-top: 0 !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_filter {
	color: #CCC !important;
}

.dataTables_wrapper label input,
.dataTables_wrapper label select {
	margin: 2px 2px 8px 2px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	line-height: normal;
	color: #CCC !important;
}
